@import 'tailwindcss';

@plugin "daisyui" {
	themes: luxury --default, dim;
}

@plugin '@tailwindcss/typography';

body {
	min-height: 100vh;
	font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Outfit', sans-serif;
}

@layer utilities {
	.animate-float {
		animation: float 6s ease-in-out infinite;
	}

	.animate-gradient-x {
		background-size: 200% 200%;
		animation: gradient-x 15s ease infinite;
	}

	.animate-pulse-glow {
		animation: pulse-glow 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	}
}

@keyframes float {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-20px);
	}

	100% {
		transform: translateY(0px);
	}
}

@keyframes gradient-x {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@keyframes pulse-glow {

	0%,
	100% {
		opacity: 1;
		box-shadow: 0 0 20px rgba(var(--primary-rgb), 0.5);
	}

	50% {
		opacity: .8;
		box-shadow: 0 0 10px rgba(var(--primary-rgb), 0.2);
	}
}