@import 'tailwindcss';
@plugin "daisyui" {
	themes: luxury --default, dim;
}
@plugin '@tailwindcss/typography';

body {
	min-height: 100vh;
	font-family:
		'Inter',
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
}

